{% extends "base.html.twig" %}

{% block body %}
	<div class="text-center">
		<div class="my-5">
			<h1>{{category.name}}</h1>
			<small>Catégorie n°{{ category.id }}</small>
		</div>
	</div>
{% endblock %}
