{% extends "base.html.twig" %}

{% block body %}
	<div class="text-center">
		<div class="my-5">
			<h1>{{category.name}}</h1>
			<small>Catégorie n°{{ category.id }}</small>
		</div>
	</div>
	<div class="text-start">
		<a href="{{ path('app_update_category', {id:category.id}) }}"><button class="btn btn-info">Modifier</button></a>
		<a href="{{ path('app_delete_category', {id:category.id}) }}"><button class="btn btn-danger" onclick="alert('Etes-vous sûr de vouloir supprimer?')">Supprimer</button></a>
	</div>
{% endblock %}
