{% extends "base.html.twig" %}

{% block body %}
<div class="my-3 text-danger">
    <h1>Code erreur: {{exception.code}}</h1>

    <p>{{exception.message}}</p>
</div>
    {# <p>{{ content }}</p> #}
{% endblock %}