{% extends "base.html.twig" %}

{% block body %}
<div class="my-3 text-center">
    <h1 class="my-5">Ajouter un article</h1>
</div>
    {# {{ form(form) }} #}
    {% include "post/_form.html.twig" with {buttonLabel: "Enregistrer"} %}
{% endblock %}